.Weather {
  background: linear-gradient(
    90deg,
    rgb(233, 232, 232) 0%,
    rgb(255, 255, 255) 47%,
    rgb(233, 232, 232) 100%
  );
  border-bottom: 15px solid #645fce;
  border-top: 55px solid #645fce;
  border-radius: 10px;
  font-family: "Comfortaa", cursive, Arial, sans-serif;
  color: #838383;
  padding: 50px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  color: #06a7c0;
  font-size: 40px;
  font-weight: 100;
  line-height: 29px;
  margin: 25px 0 10px 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 15px;
  line-height: 19px;
  list-style: none;
}
.Weather img {
  height: 100px;
  width: 100px;
}
.Weather .temperature {
  color: #646464;
  font-size: 40px;
  line-height: 100px;
  margin-left: 10px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 12px;
  position: relative;
  top: -32px;
  line-height: 1;
}
