.icon-bg {
  width: 120px !important;
  height: 120px !important;
  border-radius: 560px !important;
}
.Weather {
  background-color: #f9f9f9;
  border-bottom: 15px solid #cacaca;
  border-top: 15px solid #cacaca;
  border-radius: S10px;
  font-family: "Comfortaa", cursive, Arial, sans-serif;
  color: #838383;
  padding: 30px;
  width: 650px;
}
.Weather .btn {
  background: linear-gradient(
    180deg,
    rgb(6, 167, 192) 0%,
    rgb(100, 95, 206) 100%
  );
}

.Weather h1 {
  color: #6062ce;
  font-size: 45px;
  font-weight: 100;
  line-height: 29px;
  margin: 25px 0 10px 0;
}
.Weather ul {
  margin: 0;
  padding-top: 25px;
  padding-left: 50px;
}
.Weather li {
  font-size: 16px;
  line-height: 30px;
  list-style: none;
}
.Weather img {
  height: 75px;
  width: 75px;
  box-shadow: 0px 0px 23px rgba(119, 119, 119, 0.2);
  border-radius: 40px;
}
.weather-img-section {
  padding-top: 10px;
  padding-left: 65px;
}
.Weather .temperature {
  color: #646464;
  font-size: 40px;
  line-height: 130px;
  margin-left: 10px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 12px;
  position: relative;
  top: -40px;
  line-height: 1;
}
